.wrapper {
    width: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 55);
    border: 3px solid rgb(14, 14, 14);
    border-radius: 30px;
    overflow: hidden;
}
.image {
    width: 240px;
    margin-top: 20px;
    margin-bottom: 32px;
    border-radius: 50%;
    background-color: rgb(47, 47, 55);
}
.title {
    font-size: 32px;
    font-weight: 700;
}
.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}
.tag {
    font-size: 32px;
    font-weight: 500;
    color: rgb(111, 111, 111);
}
.statsList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-top: 3px solid rgb(111, 111, 111);
}

.statsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 32px;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
    width: calc(100% / 3);
    background-color: rgb(195, 195, 195);
}
.border {
    border: 3px solid rgb(111, 111, 111);
    border-style: none solid none solid;
}
.number {
    font-weight: 700;
    font-size: 36px;
}