.wrapper {
  display: flex;
}
.img {
  width: 360px;
}
.list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 600px;
  padding-left: 20px;
}

.title {
  text-align: center;
}
.score {
  font-size: 18px;
  font-weight: 500;
}

.infoWrap {
  margin-bottom: 20px;
  padding: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.infoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  margin-top: 12px;
}
