.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.name {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 12px;
}
.character {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.img {
  width: 300px;
  object-fit: cover;
}
.wrap {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.item {
  padding-bottom: 12px;
  border: 1px solid rgb(156, 156, 156);
}
